body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: rgba(245, 245, 245, 0.925);
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}


ul{
    margin: 0;
    padding: 0;
}

.button_1{
    height: 36px;
    background: red;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

.dark-mode-switch {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    z-index: 1000;
}

.icon {
    margin: 0 5px;
}

#moonIcon {
    display: none;
}

body.dark-mode {
    background-color: #040452;
    color: #fff;
}

body.dark-mode header {
    background-color: rgb(1, 5, 45);
    color: #ffffff;
    border-bottom: rgb(255, 77, 0) 3px solid;
}

body.dark-mode header a {
    color: gray;
}

body.dark-mode footer {
    background: rgb(1, 5, 45);
    color: #ffffff;
    border-top: rgb(255, 77, 0) 3px solid;
}

body.dark-mode .footer-basic {
    background:  rgb(1, 5, 45);
    color: #ffffff;
}

body.dark-mode .product-info {
    background-color: rgb(1, 5, 45);
    color: #ffffff;
}

header{
    background-color: rgb(120, 27, 27);
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: rgb(255, 77, 0) 3px solid;
}

header a{
    color: gray;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight , header .current a{
    color: rgb(0, 221, 255);
    font-weight: bold;
}

header a:hover{
color: black;
font-weight: bold;
}

#product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}
  
.product-item {
    width: calc(25% - 20px);
    margin-bottom: 15px;
    overflow: hidden;
}
    
.product-item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.product-image {
    overflow: hidden;
}

.product-image img {
    width: 225px;
    height: 225px;
}

.product-info {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.product-info h3 {
    margin-top: 0;
}

.product-info a {
    display: block;
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
}

.product-info a:hover {
    background-color: #555;
}

* {box-sizing: border-box; }

.container1 {
    margin-top: 20px;
    position: relative;
}
  
.container1 img {
    width: 500px;
    height: auto;
}

.mySlides {
    display: none;
}
  
.cursor {
    cursor: pointer;
}
  
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
  
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
    border-radius: 10px;
    margin-bottom: 5px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
.column {
    float: left;
    width: 16.66%;
}

.demo {
    opacity: 0.6;
}
  
.active,
.demo:hover {
    opacity: 1;
}

#branding img {
    max-width: 300px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}

#showcase{
    min-height: 650px;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/Showcase/cicekcamimg1.png) no-repeat;
    background-size: cover;
    color: #ffffff;
}

#showcase h2{
    font-size: 45px;   
}

#showcase p{
    font-size: 20px;
}

#showcase2{
    min-height: 400px;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/Showcase/showcase4.jpg) no-repeat;
    background-size: cover;
    color: #ffffff;
}

#showcase2 h2{
    font-size: 45px;   
}

#showcase2 p{
    font-size: 20px;
}

#showcase3{
    min-height: 400px;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/Products/pimapen-no-repeat.png) no-repeat;
    background-size: cover;
    color: #ffffff;
}

#showcase3 h2{
    font-size: 45px;   
}

#showcase3 p{
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    
    .container {
        width: 100%;
    }

    #showcase3, #showcase2, #showcase1 {
        min-height: 150px;
        background-size: cover;
        background-position: center;
    }

    #boxes .box {
        padding: 4px;
    }

    #boxes .box img {
        width: 100px;
        height: 100px;
    }

    .product-item {
        width: calc(50% - 20px);
    }
}

#boxes{
    margin-top: 20px;
    text-align: center;
    
}

#boxes .box{
    float: left;
    width: 32%;
    padding: 8px;
    text-align: center;
    
}

#boxes .box img{
    width: 150px;
    height: 150px;
    
}

footer{
    padding: 5px;   
    color: #ffffff;
    background: rgb(120, 27, 27);
    border-top: rgb(255, 77, 0) 3px solid;
}

footer .contact-details {
    text-align: center;
}

footer .contact-details h4 {
    text-align: left;
}

footer .map-link {
    display: inline-block;
    margin-top: 0px;
}

footer .map-link button,
footer a[href^="mailto"] button {
    background: rgb(255, 0, 21);
    color: #fff;
    border: none;
    border-radius: 16px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12.5px;
    margin: 5px; 
}

footer .map-link .icon-map-marker,
footer a[href^="mailto"] .icon-envelope {
    font-size: 18px;
    margin-right: 5px;
}

.footer-contact-number button{
    color: #ffffff;
    font-size: 16px;
    background: rgb(255, 0, 21);
    border: none;
    border-radius: 16px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

.footer-basic {
    padding:40px 0;
    background-color:rgb(120, 27, 27);
    color:rgb(255, 0, 21);
}

  
  .footer-basic .social {
    text-align:center;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid rgb(255, 0, 21);
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#cccaca;
    margin-bottom:0;
  }


.imgcontainer img{
    width: 100%;
    height: auto;
}